


button{
    background-color: rgb(194, 145, 23);
    color: rgb(9, 14, 18);
    border-radius: 7px;
    padding: 7px;
    width: 100px;
}
 
h4{
    color: rgb(3, 136, 253);
}

.tabela{
    border: 2px solid;
    border-color: black;
    
}

.div-editar{
    margin-left: 20%;
}
